body {
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
}

table {
  border: 1px solid black;
  margin: 0 auto;
}

tr, td, th {
  border: 1px solid black;
}

#form {
  margin: 0 auto;
  text-align: center;
}

#container {
  padding: 10px;
  margin: 30px;
}

.person {
  border: 2px solid black;
  padding: 2px;
}

.clicked {
  border-color: red;
}
